{% extends "BlogBundle::layout.html.twig" %}

{% block title %}BlogBundle:User:login{% endblock %}

{% block body %}
<h1>Авторизируйтесь для создания нового поста</h1>
    <form method="post">
        <input type="text" name="login">
        <input type="password" name="password">
        <button type="submit">login</button>
    </form>
{% endblock %}
