{% extends "BlogBundle::layout.html.twig" %}

{% block title %}about{% endblock %}

{% block body %}
    <header>
        <h1>About MyBlog</h1>
    </header>
    <article>
        <p>This is an example of a simple blog on Symfony specifically for <a href="http://precoro.com/ru/">Precoro</a></p>
    </article>
{% endblock %}